* {
	box-sizing: border-box;
}

html, 
body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

header {
	position: relative;

}

nav {
	max-width: 750px;
	padding-top: 20px;
	display: block;
	background-color: rgba(31, 33, 28, 1);

}

footer {
	height: 150px;
	position: absolute;
}

nav li {
	list-style-type: none;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	margin-left: 50px;
	padding-bottom: 8px;
	color: black;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	display: inline-flex;
}

nav a {
	color: white;
	list-style-type: none;
}

.navright {
	float: right;
	margin-right: 50px;
}

.socialsnippet {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translate(-50%);
	display: block;
	margin-left: 20px;
}
.socialsnippet li {
	margin-bottom: 15px;
}


