* {
	box-sizing: border-box;
}

html,
body {
	background-color: #fff;
}

p {
	font-size: 20px;
}

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul {
	padding: 0;
}

ul li {
	list-style-type: none;
}
.imgfooter {
	margin: 0;
	overflow: hidden;
	opacity: 0.3;	
	position: absolute;
	width: 100vw;
}
.spacer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.text-vertical-center h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}


/* Custom Button Styles */

.btn-dark {
	color: #fff;
	border: none;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 1);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
}

.btn-light {
	color: #333;
	border: none;
	border-radius: 2px;
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
	color: #333;
	background-color: rgba(255, 255, 255, .8);
}


/* Custom Horizontal Rule */

hr.small {
	max-width: 100px;
}


/* Side Menu */

#sidebar-wrapper {
	position: fixed;
	z-index: 1000;
	right: 0;
	top:0;
	overflow-y: auto;
	width: 250px;
	height: 100%;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	transform: translateX(250px);
	background: rgba(35, 140, 138, 0.9);
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav #menu-close {
	float: left !important;
}
.sidebar-nav ul {
	margin-top: 80px;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	display: block;
	font-size: 19px;
	text-decoration: none;
	color: #fff;
	font-weight: 100;
}
.sidebar-nav img {
	max-width: 120px;
	position: fixed;
	margin-top: 4px;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	font-size: 18px;
	line-height: 55px;
	height: 55px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#menu-toggle {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

#sidebar-wrapper.active {
	left: -250px;
	width: 250px;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}

.toggle {
	font-size: 1em;
	margin: 5px 5px 0 0;
	padding: 15px 20px;
}

/* Header */

.header {
	height: 700px;
	overflow: hidden;
	background: url(../img/bg2.jpg);
	background-size: cover;
}

.banner {
/*	di0splay: inline;
	margin-top: 20px;*/
}
.mainlogo {
	padding-top: 60%;
}
.formsheader{
	padding-top: 70%;
}

/* About */

.about {
	margin-top:40px;
}
.boxes {
	height: 100vh;
	width: 100vw;
}


.pp{
	font-size: 50px;
	color:white;
	font-weight:500;
}
h1{
 color:white;
 font-size: 80px;
text-align: center;
 margin-top: 200px;
 margin-right:750px
}

.ll{
margin-top: 280px;
margin-left: 50px;
}

.log{
background: url(../img/bg2.jpg) no-repeat center center scroll;
}

/* Portfolio */

.portfolio {
	padding: 50px 0;
}

.portfolio-item {
	margin-bottom: 30px;
}

.img-portfolio {
	margin: 0 auto;
}

.img-portfolio:hover {
	opacity: .8;
}

.link{
	color:white;
}
/* Footer */

footer {
	background-color:#238c8a;
	position: relative;	
	overflow: 	hidden;	
}

.productos{
width:300px;
}

.footer-icons {
	position: absolute;
    top: 10px;
    width: 100%;
}
.mailto {
	font-size: 20px;
	padding-top: 108px
}
.mailto i {|
	margin-right: 5px;
}
.social {
   padding-top: 88px;
}
.footerback {
	opacity: 0.1;
	background-color: #238c8a; 
}

footer li {
	display: inline-block;
	list-style: none;
	z-index: 2;
}

footer a {
	color: white;
}

#to-top {
	font-size: 1em;
	position: fixed;
	right: 5px;
	bottom: 5px;
	display: none;
	padding: 15px 20px;
}
	.regis{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 50px;
	color:black;
	text-align: center;
	}

.login{
	margin-bottom: 100px;
}
.linksvarios{
	color: white;
	font-size: 14px;
}

.aside1{
	background-color:#1d1b1b!important;
}

/* GRILLA DE PRODUCTOS */
.gallerylogo {
	margin-bottom: 80px;
}

.productsgrid {
}

.products {
	margin-bottom: 100px;
}

.products img {
	width: 100%;
}

.products button {
	text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

.products h3 {
	font-family: 'Barlow', sans-serif;
	color: rgb(0, 56, 28);
}

.productgrid div {
	display: inline-block;
}

.buzos{
	width: 500px;
}
/***********  ***********/
.precio{
font-size: 60px;
}

.bt{
	font-size:30px;
}
.imgtestimonio {
	width: 50%;
}

.altheader {
	position: absolute;
	justify-content: center;
}

.description {
	margin-bottom: 50px;
}
.testimonials h4{
	margin-bottom: 50px;
	}

/***** PANEL ADMINISTRACION ****/
.navadmin ul li {
	display: inline-block;
	padding: 5px;
	list-style: none;
}
.navadmin a {
	list-style-type: none;
	font-size: 18px;
}
.navadmin img {
	max-width: 100px;
	display: inline-block;
	margin-left: 25px;
}

.usergrid {
	display: grid;
	width: 90%;
	margin-left: 200px;
}
.usergrid a {
	font-size: 18px;
}
.usergrid h4 {
	font-family: 'Barlow Condensed', sans-serif;
}

/*** media queries */
@media (max-width:992px){
		.mainlogo,
	.formsheader {
	padding-top: 10%;
	}
	.register .formsheader {
		padding-top: 5%;
	}
	.imgtestimonio {
		width: 250px;
	}
	footer {
		height: 210px;
	}
	footer .social {
		padding-top: 30px;
		text-align: center;
	}

	footer .mailto {
		padding-top: 20px;
		text-align: center;
	}
}

@media (max-width: 480px) {
	.gallerylogo img {
		width: 100%;
		margin-bottom: 20px;
	}
}